@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #524747;
  --background-color: #ffffff;
  --dark-color: #151515;
}

html {
  font-size: 62.5%;

  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/*           global           */
/* ********************************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
  background-color: var(--background-color);
}

.hero {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-1 {
  width: 217px;
  height: 179px;
}

.container-logo i {
  font-size: 3rem;
}

.container-logo h1 a {
  width: 500px;
  height: 500px;
}
logo.png.png .container-user button {
  background: none;
  border: none;
  cursor: pointer;
}
#fas fa-user {
  display: flex;
  color: var(--primary-color);
  position: relative;
  left: 10px;
}

.container-user .user-icon {
  font-size: 3rem;
  position: center;
  position: relative;
  color: var(--primary-color);
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}
#user-icon-button {
  color: var(--primary-color);
  position: relative;
  font-size: 15px;
  left: -3px;
}

.container-user .basket-icon {
  position: relative;
  font-size: 3rem;
  color: var(--primary-color);
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}

.count-products {
  position: relative;
  top: -2px;
  right: -210px;
  background-color: var(--primary-color);
  color: #fff;
  width: 18px;
  height: 18px;
  display: ruby-text;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
}
#contador-productos {
  font-size: 12px;
}

/* ************* NAVBAR ************* */
.container-navbar {
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.navbar .fa-bars {
  display: none;
}
form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
 }
 
 form input[type="text"] {
  flex: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 100px;
  background-color: #ffffff;
  outline: auto;
  outline-color: var(--primary-color);
}
 
 form button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
 }
 
 form button:hover {
  background-color: #0069d9;
 }
.menu {
  display: flex;
  gap: 2rem;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.menu a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.menu a:hover::after {
  opacity: 1;
}

.menu a:hover {
  color: #fff;
}

.search-form {
  position: relative;
  display: flex;
  border: 2px;
  border-color: var(--primary-color);
  border-radius: 8rem;
  background-color: #fff;
  height: 52.4px;
  overflow: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-form input {
    display: flex;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    color: #f5f5f5;
    font-size: 2rem;
    border: none;
    border-top-right-radius: 1.5rem;
    cursor: pointer;
    justify-content: flex-start;
}

.search-form input::-webkit-search-cancel-button {
  appearance: none;
}

.search-form .btn-search {
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 5rem;
}
button[type="submit"] {
  display: flex;
  padding: 0.5rem 2rem;
  color: #f5f5f5;
  font-size: 2rem;
  border: none;
  border-top-right-radius: 1.5rem;
  cursor: pointer;
  justify-content: flex-start;
}
 

.btn-search i {
  font-size: 2rem;
  color: #fff;
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
  html {
    font-size: 42.5%;
  }

  .content-banner {
    max-width: 50rem;
    padding: 22rem 0;
  }

  .heading-1 {
    font-size: 2.8rem;
  }

  .card-feature {
    flex-direction: column;
    border-radius: 2rem;
  }

  .feature-content {
    align-items: center;
  }

  .feature-content p {
    font-size: 1.4rem;
    text-align: center;
  }

  .feature-content span {
    font-size: 1.6rem;
    text-align: center;
  }

  .container-options span {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
  }

  .container-products {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
  }

  .container-img .discount {
    font-size: 2rem;
  }

  .content-card-product h3 {
    font-size: 2.2rem;
  }

  .gallery {
    grid-template-rows: repeat(2, 20rem);
  }

  .blogs {
    padding: 2rem;
  }

  .container-blogs {
    grid-template-columns: 1fr;
    height: 75rem;
  }

  .content-blog h3 {
    font-size: 2.4rem;
  }

  .content-blog span {
    font-size: 1.8rem;
  }

  .content-blog p {
    font-size: 2.2rem;
  }

  .btn-read-more {
    font-size: 1.8rem;
  }

  .contact-info ul,
  .information ul,
  .my-account ul {
    display: none;
  }

  .contact-info {
    align-items: center;
  }

  .menu-footer {
    grid-template-columns: 1fr;
  }

  .content p {
    font-size: 1.6rem;
  }
}